In [1]:
# library
import pandas as pd
import matplotlib

%matplotlib inline

/home/user/.anaconda3/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/home/user/.anaconda3/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
# directories
dirData = '../data/'

dirDataExt = dirData + 'external/'
dirElection = dirDataExt + 'election/'

dirDataProc = dirData + 'processed/'

In [3]:
# read in the slimmed election data
iaElec = pd.read_csv(dirDataProc + '/elections/election-populations.csv', index_col=False,
                    thousands=',')

iaElec.head()

,Race,Total Population,Citizen Population,Registered Population,Voting Population,Year
0,Total,2320.0,2232.0,1745.0,1548.0,2012
1,Male,1135.0,1084.0,838.0,733.0,2012
2,Female,1186.0,1148.0,906.0,816.0,2012
3,White alone,2173.0,2123.0,1673.0,1482.0,2012
4,.White non-Hispanic alone,2067.0,2057.0,1644.0,1455.0,2012

### Formatting

In [4]:
# year 2000 has 'All' instead of total
iaElec['Race'] = iaElec['Race'].apply(lambda x: 'Total' if (x == 'All') else x)

# get rid of . in rows
iaElec['Race'] = iaElec['Race'].apply(lambda x: x.replace('.', ''))

#clean races for reading
iaElec['Race'] = iaElec['Race'].apply(lambda x: x.replace(' alone', ''))

# And normalize abbreviations
iaElec['Race'] = iaElec['Race'].apply(lambda x: x[4:] + ' non-Hispanic' if (x[:3] == 'N-H') else x)

In [6]:
iaElec.head(50)

,Race,Total Population,Citizen Population,Registered Population,Voting Population,Year
0,Total,2320.0,2232.0,1745.0,1548.0,2012
1,Male,1135.0,1084.0,838.0,733.0,2012
2,Female,1186.0,1148.0,906.0,816.0,2012
3,White,2173.0,2123.0,1673.0,1482.0,2012
4,White non-Hispanic,2067.0,2057.0,1644.0,1455.0,2012
5,Black,54.0,51.0,35.0,33.0,2012
6,Asian,61.0,35.0,21.0,17.0,2012
7,Hispanic,120.0,71.0,32.0,30.0,2012
8,White or in combination,2197.0,2138.0,1685.0,1494.0,2012
9,Black or in combination,67.0,59.0,41.0,39.0,2012
10,Asian or in combination,67.0,35.0,21.0,17.0,2012
11,Total,2244.0,2137.0,1630.0,1501.0,2008
12,Male,1097.0,1040.0,765.0,699.0,2008
13,Female,1147.0,1096.0,865.0,801.0,2008
14,White,2084.0,2005.0,1550.0,1422.0,2008
15,White non-Hispanic,1986.0,1977.0,1532.0,1405.0,2008
16,Black,71.0,68.0,42.0,42.0,2008
17,Asian,58.0,32.0,11.0,11.0,2008
18,Hispanic,101.0,31.0,21.0,20.0,2008
19,White or in combination,2104.0,2025.0,1569.0,1439.0,2008
20,Black or in combination,74.0,71.0,45.0,45.0,2008
21,Asian or in combination,61.0,35.0,15.0,15.0,2008
22,Total,2212.0,2136.0,1674.0,1522.0,2004
23,Male,1073.0,1034.0,788.0,708.0,2004
24,Female,1139.0,1102.0,886.0,814.0,2004
25,White,2120.0,2061.0,1620.0,1473.0,2004
26,White non-Hispanic,2052.0,2038.0,1608.0,1463.0,2004
27,Black,37.0,36.0,24.0,23.0,2004
28,Asian,27.0,15.0,11.0,11.0,2004
29,Hispanic,69.0,24.0,13.0,12.0,2004
30,White or in combination,2136.0,2077.0,1634.0,1484.0,2004
31,White non-Hispanic or in combination,2068.0,2055.0,1622.0,1474.0,2004
32,Black or in combination,41.0,40.0,28.0,26.0,2004
33,Asian or in combination,30.0,18.0,12.0,11.0,2004
34,Total,2110.0,2008.0,1524.0,1353.0,2000
35,Male,1049.0,992.0,733.0,650.0,2000
36,Female,1061.0,1017.0,790.0,703.0,2000
37,White non-Hispanic,1920.0,1905.0,1460.0,1301.0,2000
38,Black non-Hispanic,81.0,72.0,42.0,34.0,2000
39,Hispanic,89.0,29.0,22.0,19.0,2000
40,White,2009.0,1934.0,1482.0,1320.0,2000
41,Black,81.0,72.0,42.0,34.0,2000
42,Total,2848.0,1948.0,1543.0,1291.0,1996
43,White,2750.0,1999.0,1497.0,1265.0,1996
44,Black,55.0,43.0,23.0,20.0,1996
45,Hispanic,49.0,24.0,12.0,6.0,1996

In [7]:
# Get just the populations we need
iaPrimaryRaces = iaElec[iaElec['Race'].isin(['Total', 'Asian', 'Hispanic', 'White', 'Black'])]

In [43]:
# write it out
iaPrimaryRaces.to_csv(dirDataProc + 'elections/election-primary-races.csv', index=False)

In [21]:
test = ia.groupby('Year')

holder = {}

for name, group in test:
    
    # Total first, then hispanic (group.iloc[0])
    print (name)
    print ('Eligible Population: {}'.format(group.iloc[0]['Citizen Population']))
    print ('Hispanic Population: {}'.format(group.iloc[1]['Citizen Population']))
    print ('\t% Hispanics who voted: {}%'.format((group.iloc[1]['Voting Population'] / group.iloc[1]['Citizen Population'])*100))
    print ('\t% Voters who were hispanic: {}'.format((group.iloc[1]['Citizen Population'] / group.iloc[0]['Citizen Population'])*100))
    print ('\tHispanics % contribution of all of the votes: {}'.format((group.iloc[1]['Voting Population'] / group.iloc[0]['Voting Population'])*100))
    print ('\n')

1996
Eligible Population: 1948.0
Hispanic Population: 24.0
	% Hispanics who voted: 25.0%
	% Voters who were hispanic: 1.23203285421
	Hispanics % contribution of all of the votes: 0.464756003098


2000
Eligible Population: 2008.0
Hispanic Population: 29.0
	% Hispanics who voted: 65.5172413793%
	% Voters who were hispanic: 1.44422310757
	Hispanics % contribution of all of the votes: 1.40428677014


2004
Eligible Population: 2136.0
Hispanic Population: 24.0
	% Hispanics who voted: 50.0%
	% Voters who were hispanic: 1.12359550562
	Hispanics % contribution of all of the votes: 0.788436268068


2008
Eligible Population: 2137.0
Hispanic Population: 31.0
	% Hispanics who voted: 64.5161290323%
	% Voters who were hispanic: 1.45063172672
	Hispanics % contribution of all of the votes: 1.33244503664


2012
Eligible Population: 2232.0
Hispanic Population: 71.0
	% Hispanics who voted: 42.2535211268%
	% Voters who were hispanic: 3.18100358423
	Hispanics % contribution of all of the votes: 1.93798449612

In [11]:
iaPrimaryRaces['Engagement'] = iaPrimaryRaces.apply(lambda x: iaPrimaryRaces[iaPrimaryRaces.Race == 'Total']

,Race,Total Population,Citizen Population,Registered Population,Voting Population,Year
0,Total,2320.0,2232.0,1745.0,1548.0,2012
11,Total,2244.0,2137.0,1630.0,1501.0,2008
22,Total,2212.0,2136.0,1674.0,1522.0,2004
34,Total,2110.0,2008.0,1524.0,1353.0,2000
42,Total,2848.0,1948.0,1543.0,1291.0,1996

In [17]:
# Write out thise weird long thing
lineChart = iaPrimaryRaces.pivot(index='Year', columns='Race', values='Voting Population').transpose().reset_index()

lineChart.head()

Year      Race    1996    2000    2004    2008    2012
0        Asian     NaN     NaN    11.0    11.0    17.0
1        Black    20.0    34.0    23.0    42.0    33.0
2     Hispanic     6.0    19.0    12.0    20.0    30.0
3        Total  1291.0  1353.0  1522.0  1501.0  1548.0
4        White  1265.0  1320.0  1473.0  1422.0  1482.0

In [18]:
# Write out this linechart ish
#iaPrimaryRaces.pivot(index='Year', columns='Race', values='Voting Population').to_csv(dirDataProc + 'elections/election-voting-populations.csv')

lineChart.to_csv(dirDataProc + 'elections/election-voting-populations.csv', index=False)